# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
env/
venv/

# Data (keep lightweight CSVs)
data/raw/*.csv
data/processed/*.csv

# Notebooks
*.ipynb_checkpoints/

# System files
.DS_Store

# Presentation / Generated images
charts/*.png
*.pptx
